body {
  margin: 0; /* bỏ khoảng trắng mặc định */
  padding: 0;
  font-family: Arial, sans-serif;

  background-image: url("https://github.com/haisauthangtam/Ngoanxinhyeudayroi/blob/main/bg.jpg.jpg?raw=true");
  background-size: cover;        /* ảnh phủ kín màn hình */
  background-repeat: no-repeat;  /* không lặp lại ảnh */
  background-position: center;   /* căn giữa */
  background-attachment: fixed;  /* ảnh đứng yên khi cuộn trang */
}
